<div class="hero-section container-fluid py-5">
  <div class="row align-items-center min-vh-100">
    <!-- Left Text Column -->
    <div class="col-lg-6 col-md-12 text-column px-5">
      <h1 class="display-4 fw-bold">
        Hi, I’m Md Shahnwaz — Software Developer  &amp;
        <span class="highlight text-gradient">Problem Solver</span>
      </h1>
      <p class="subtitle fs-5 mt-3">
       I build scalable, efficient, and user-friendly web applications that solve real-world problems.


    </div>

    <!-- Right Illustration Column -->
    <div class="col-lg-6 col-md-12 text-center illustration-column">
      <img src="https://i.pinimg.com/1200x/1f/89/31/1f89311b9ffc65ec2f56a7bd19570b0e.jpg" alt="Illustration" class="img-fluid animate-float">
    </div>
  </div>

  <!-- Second Section -->
  <div class="row second-section align-items-center py-5">
    <div class="col-md-6 text-center">
      <img src="https://i.pinimg.com/1200x/0f/41/50/0f4150b62f13e9b88310e35c95a2f4e3.jpg" alt="Target" class="img-fluid animate-scale">
    </div>
    <div class="col-md-6 card-section bg-white p-5 rounded shadow-lg">
      <h3 class="fw-bold"> Looking for a Software Developer Intern / Full-Time SDE Role where I can contribute, learn, and grow while building impactful solutions.</h3>
      <a href="https://drive.google.com/file/d/1HAZOI5MUhaZ2jZFEOlksR9opi5CNRpNS/view?usp=drive_link" target="_blank" class="btn btn-primary">
   Resume
</a>
    </div>
  </div>
</div>
